@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


html,
body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


